{
  "presets": [
    ["@babel/env", {
      "loose": true
    }],
    "@babel/react"
  ],
  "plugins": [
    ["@babel/transform-runtime", {
      "polyfill": false,
      "useBuiltIns": true
    }],
    "@babel/proposal-class-properties",
    ["transform-react-remove-prop-types", {"mode": "wrap"}],
    "transform-dev-warning"
  ]
}
